<div class="w-full max-w-xs">

  <!-- Error -->
  <div *ngIf="errormsg" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-center" role="alert">
    <strong class="font-bold">{{errormsg}}</strong>
  </div>

    <!-- Success -->
  <div *ngIf="successmsg" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative text-center" role="alert">
    <strong class="font-bold">{{successmsg}}</strong>
  </div>

  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  [formGroup]="userForm">
    <div class="mb-4">
			<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="text" formControlName="name" placeholder="Enter Name">
		</div>
    <div class="mb-4">
			<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="text" formControlName="email" placeholder="Enter Email">
		</div>
    <div class="mb-4">
			<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      type="text" formControlName="mobile" placeholder="Enter Phone Number">
		</div>
    <div *ngIf="!getparamid" (click)="userSubmit()" class="mb-4">
      <button>Create</button>
    </div>
    <div *ngIf="getparamid" (click)="userUpdate()" class="mb-4">
      <button>Update</button>
    </div>
	</form>
</div>