    <app-nav></app-nav>
<div class="mx-72">
    <h1 class="text-primary-fw text-3xl md:text-5xl max-w-6xl pt-5 sm:pt-20 md:pt-20 !leading-tight ml-16 mr-16 md:ml-28 md:mr-28">
            Data Management</h1>
    <div class="ml-60 mt-10">
        <a class="bg-primary-fw text-2xl hover:bg-green-900 py-2 px-4 rounded-full text-secondary-fw" 
        routerLink="create">Create</a>
        &nbsp;
        <a class="bg-primary-fw text-2xl hover:bg-green-900 py-2 px-4 rounded-full text-secondary-fw" 
        routerLink="read">List</a>
    </div>
    <div class="ml-60 mt-10">
        <a class="bg-primary-fw text-2xl hover:bg-green-900 py-2 px-4 rounded-full text-secondary-fw" 
        routerLink="factcreate">Create</a>
        &nbsp;
        <a class="bg-primary-fw text-2xl hover:bg-green-900 py-2 px-4 rounded-full text-secondary-fw" 
        routerLink="factread">List</a>
    </div>
</div>